
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: rgb(201, 201, 198);
    
}
*{
    margin: 0;
    padding: 0;
    
}

.navbar{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    background-color: black;
    height: 50px;
    align-items: center;
    padding: 0 20px;
}
.navbar img{
    height: 35px;
    width:40px;
}
.navbar a{
    color:azure;
    text-decoration: none;
    padding: 12px;
}

.container{
    font-family: 'Varela Round', sans-serif;
    display: flex;
  background-color: royalblue;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin:50px 50px;
    min-height: 65vh;
    background-image: url("white-smoke-right-side-background_23-2147734841.avif");
    background-repeat: no-repeat;
    
    background-size: cover;        
    background-position: center; 
}

.bottom{
    position:sticky;
    display:flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    bottom: 0px;
    background-color: black;

    flex-direction: column;
}

#volume{
    width: 1000px;
}
.icons i {
    color: white;
    margin: 10px;
    cursor: pointer;
}
.left{
    
    display:flex;
    flex: 1;
    flex-direction: column;
    margin: 50px 40px;
    
    width:60%;

   
}

.cell {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: space-between;   

    padding: 5px 10px;              
    margin: 15px 0;                  

    
    background-color: white;
    border-radius: 50px;
    color: black;


}
.right{
    width:40vw;
}
.cell img{
    display:flex;
    width: 43px;
    height: 43px;
    border-radius: 100%;
}
.songcontainer{
    margin:30px 0;

}


.songinfo{

    position:absolute;
     left: 14vw;
}